[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

django = "*"
entity = {git = "ssh://git@github.com/The-Politico/politico-civic-entity", editable = true}
geography = {git = "ssh://git@github.com/The-Politico/politico-civic-geography", editable = true}
government = {git = "ssh://git@github.com/The-Politico/politico-civic-government", editable = true}
election = {git = "ssh://git@github.com/The-Politico/politico-civic-election", editable = true}
stump = {git = "ssh://git@github.com/The-Politico/politico-civic-stump", editable = true}
biography = {git = "ssh://git@github.com/The-Politico/politico-civic-biography", editable = true}
vote = {git = "ssh://git@github.com/The-Politico/politico-civic-vote", editable = true}
demography = {git = "ssh://git@github.com/The-Politico/politico-civic-demography", editable = true}
almanac = {git = "ssh://git@github.com/The-Politico/politico-civic-almanac", editable = true}
electionnight = {git = "ssh://git@github.com/The-Politico/politico-civic-election-night", editable = true}
"flake8" = "*"
"fabric3" = "*"
"jinja2" = "*"
"psycopg2" = "*"
dj-database-url = "*"
whitenoise = "*"
django-environ = "*"
social-auth-core = "*"
social-auth-app-django = "*"
sphinx = "*"
celery = "*"
sphinxcontrib-django = "*"
sphinx-rtd-theme = "*"


[dev-packages]

