[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.8"
"flake8" = "*"
"fabric3" = "*"
"jinja2" = "*"
"psycopg2" = "*"
dj-database-url = "*"
whitenoise = "*"
django-environ = "*"
social-auth-core = "*"
social-auth-app-django = "*"
sphinx = "*"
celery = "*"
sphinxcontrib-django = "*"
sphinx-rtd-theme = "*"
politico-civic-election-night = "==0.13.5"
politico-civic-entity = "==0.3.1"
politico-civic-geography = "==0.5.1"
politico-civic-government = "==0.1.5"
politico-civic-election = "==0.3.3"
politico-civic-biography = "==0.2.2"
politico-civic-stump = "*"
politico-civic-demography = "==0.1.2"
click = "*"
django-split-settings = "*"
elex = "==2.4.2"
politico-civic-vote = "*"
politico-civic-race-ratings = "==0.2.7"
openpyxl = "*"
csvkit = "*"
botocore = "==1.12.26"
python-dateutil = "==2.2"
politico-civic-ap-loader = "==0.5.4"
"boto3" = "==1.9.26"
python-dotenv = "*"
politico-civic-campaign-tracker = "==0.3.4"
webpreview = "*"
politico-civic-campaign = "==0.2.1"

[dev-packages]

[requires]
python_version = "3.6"
