awscli==1.14.61
beautifulsoup4==4.6.0
botocore==1.9.14
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.7
docutils==0.14
futures==3.2.0
GDAL==1.11.5
idna==2.6
jmespath==0.9.3
metadata-parser==0.9.14
numpy==1.13.0
opengraph==0.5
pbr==3.0.1
pyasn1==0.4.2
pygobject==3.24.1
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
stevedore==1.23.0
Unidecode==0.4.21
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
