awscli==1.14.50
bleach==2.1.4
botocore==1.9.3
CacheControl==0.11.7
cement==2.10.2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cmarkgfm==0.4.2
colorama==0.3.7
docutils==0.14
elex==2.4.1
future==0.16.0
html5lib==1.0.1
idna==2.6
jmespath==0.9.3
lockfile==0.12.2
pbr==3.1.1
pew==1.1.2
pipenv==10.1.2
pkginfo==1.4.2
pyasn1==0.4.2
pycparser==2.19
Pygments==2.2.0
pymongo==3.3.0
python-dateutil==2.6.1
PyYAML==3.12
readme-renderer==22.0
requests==2.18.4
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
six==1.10.0
stevedore==1.26.0
tqdm==4.26.0
twine==1.12.1
ujson==1.35
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.1
webencodings==0.5.1
