@import url('https://fonts.googleapis.com/css?family=Gruppo|Roboto');
@import 'colors';

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.logged-in{
  font-family: 'Roboto';
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  color: $red;
  .fa-lock{
    color: $red;
  }
}

.center-cell{
  width: 320px;
  margin: 40vh auto 0;
  .logo{
    text-align: center;
    background: $black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    color: white;
    font-size: 30px;
    .civic-display{
      font-family: 'Gruppo';
      color: $red;
      font-size: 48px;
      vertical-align: bottom;
      line-height: 36px;
    }
  }

  .content{
    margin-top: 20px;
    .action{
      text-align: center;
      font-size: 20px;
      font-family: 'Roboto';
      color: lightgrey;
      font-weight: normal;
      a, a:visited{
        text-decoration: none;
        color: lightgrey;
        transition: all .2s;
        &:hover{
          color: grey;
        }
      }
    }
  }
}
